@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/ltr-main-bar.png");
/*  list-style-image: url("chrome://bidimailpack/content/images/ltr-main-bar-modern.png");*/
  -moz-image-region: rect(0px 50px 33px 0);
  background-color: transparent !important; /* no ugly gray frame */
}

#button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 100px 33px 50px);
}

#button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 150px 33px 100px);
}

#button-direction-ltr-main-bar[disabled="true"][checked="true"] {
  -moz-image-region: rect(0px 300px 33px 250px) !important;
}


#button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 200px 33px 150px) !important;
}

#button-direction-ltr-main-bar[checked="true"] {
  -moz-image-region: rect(0px 250px 33px 200px);
}

#button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/rtl-main-bar.png");
/*  list-style-image: url("chrome://bidimailpack/content/images/rtl-main-bar-modern.png");*/
  -moz-image-region: rect(0px 50px 33px 0);
  background-color: transparent !important; /* no ugly gray frame */
}

#button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 100px 33px 50px);
}

#button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 150px 33px 100px);
}

#button-direction-rtl-main-bar[disabled="true"][checked="true"] {
  -moz-image-region: rect(0px 300px 33px 250px) !important;
}


#button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 200px 33px 150px) !important;
}

#button-direction-rtl-main-bar[checked="true"] {
  -moz-image-region: rect(0px 250px 33px 200px);
}

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 22px 17px 0);
  border: none !important; /* no selection border */
  background-color: transparent !important; /* no ugly gray frame */
}

#button-direction-ltr-formatting-bar:hover {
  -moz-image-region: rect(0px 44px 17px 22px);
}

#button-direction-ltr-formatting-bar:hover:active {
  -moz-image-region: rect(0px 66px 17px 44px);
}

#button-direction-ltr-formatting-bar[disabled="true"][checked="true"] {
  -moz-image-region: rect(0px 132px 17px 110px) !important;
}


#button-direction-ltr-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 88px 17px 66px) !important;
}

#button-direction-ltr-formatting-bar[checked="true"] {
  -moz-image-region: rect(0px 110px 17px 88px);
}


#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 22px 17px 0);
  border: none !important; /* no selection border */
  background-color: transparent !important; /* no ugly gray frame */
}

#button-direction-rtl-formatting-bar:hover {
  -moz-image-region: rect(0px 44px 17px 22px);
}

#button-direction-rtl-formatting-bar:hover:active {
  -moz-image-region: rect(0px 66px 17px 44px);
}

#button-direction-rtl-formatting-bar[disabled="true"][checked="true"] {
  -moz-image-region: rect(0px 132px 17px 110px) !important;
}


#button-direction-rtl-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 88px 17px 66px) !important;
}

#button-direction-rtl-formatting-bar[checked="true"] {
  -moz-image-region: rect(0px 110px 17px 88px);
}

#FormatToolbar > toolbarbutton[rtlmode="true"] {
  list-style-image: url("chrome://bidimailpack/skin/format-buttons-rtl.gif")  !important;
}

