syntax: glob

# Temporary, cache, swap files
\#\#* 
*.swp
*.bkp
*~

# Files which "ask" to be hidden
.*
unused/

# Build & (old, no-longer-relevant) release artifacts
build/*
src/build/*
downloads/*

# Patching
*.diff
*.rej
*.orig

# node.js files and folders
node_modules
package-lock.json
# Note that we'll be generating package.json, as it requires a version,
# and version info is not committed into our repository; so we'll have
# a version-independent template committed, but not the actual file
package.json
