/* make the bar marking the quoted message appear       */
/* to the right of it if the message is being displayed */
/* or edited in right-to-left direction                 */

[dir="rtl"] blockquote[type="cite"] {
  padding-right: 1em !important;
  border-right-style: solid !important;
  border-right-width: thin !important;
%ifndef MOZ_THUNDERBIRD
  border-right-color: blue !important;
%endif
  padding-left: 0 !important;
  border-left: 0 !important;
}

[dir="ltr"] blockquote[type="cite"] {
  padding-right: 0 !important;
  border-right: 0 !important;
  padding-left: 1em !important;
  border-left-style: solid !important;
  border-left-width: thin !important;
%ifndef MOZ_THUNDERBIRD
  border-left-color: blue !important;
%endif
}
