/* make the bar marking the quoted message appear      */
/* to the right of it if we are replying right-to-left */

body[dir="rtl"] blockquote[type=cite] {  padding-right: 1em !important;  padding-left: 0 !important;  border-right-style: solid !important;
  border-right-width: 2px !important;  border-left: 0 !important;}