@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Notes:
   1. The syntax for -moz-image-region is:

         rect(first row coordinate of the image,
              first column coordinate after the image,
              first row coordinate after the image,
              first column coordinate of the image);

  2. Currently, the sizes of the toolbar icons in Qute / Classic are:
      main toolbar                    24px width x 24px height
      main toolbar small mode         16px width x 16px height

  3. The format-toolbar-buttns graphic is still applied, but has no dark-mode equivalent;
     we may need to remove it
*/

[platform="Darwin"] #FormatToolbar > toolbarbutton[rtlmode="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/format-buttons-rtl.png")  !important;
}

/* Light theme */

/* Messenger Main Toolbar - icon variants via regions within the icon */

toolbar[iconsize="small"] #bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-disabled.png") !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-disabled.png") !important;
}

#bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-24x24-regular.png");
}

#bidimailui-forcing-menubutton:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-24x24-hover.png");
}

#bidimailui-forcing-menubutton:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-24x24-active.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-regular.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-hover.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-active.png");
}

#bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-regular.png");
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-hover.png");
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-active.png");
}

#bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-24x24-disabled.png") !important;
}

#bidimailui-forcing-menubutton[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-regular.png");
}

#bidimailui-forcing-menubutton[platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-hover.png");
}

#bidimailui-forcing-menubutton[platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-active.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-hover.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-active.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-regular.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-hover.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-active.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/autodetect-main-bar-16x16-disabled.png") !important;
}

/* Composer/Editor Main Toolbar - small icons */

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-disabled.png") !important;
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-disabled.png") !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-disabled.png") !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-disabled.png") !important;
}

/* Composer/Editor Main Toolbar Buttons - large icons */

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-regular.png");
}

#button-direction-ltr-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-hover.png");
}

#button-direction-ltr-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-active.png");
}

#button-direction-ltr-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-24x24-disabled.png") !important;
}

#button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-regular.png");
}

#button-direction-rtl-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-hover.png");
}

#button-direction-rtl-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-active.png");
}

#button-direction-rtl-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-24x24-disabled.png") !important;
}

#button-direction-ltr-main-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-regular.png");
}

#button-direction-ltr-main-bar[platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-hover.png");
}

#button-direction-ltr-main-bar[platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-active.png");
}

#button-direction-ltr-main-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-main-bar-16x16-disabled.png") !important;
}

#button-direction-rtl-main-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-regular.png");
}

#button-direction-rtl-main-bar[platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-hover.png");
}

#button-direction-rtl-main-bar[platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-active.png");
}

#button-direction-rtl-main-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-main-bar-16x16-disabled.png") !important;
}

/* Composer/Editor Formatting Bar Buttons */

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-formatting-bar-enabled.png");
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-formatting-bar-disabled.png") !important;
}

#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-formatting-bar-enabled.png");
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-formatting-bar-disabled.png") !important;
}

#button-direction-ltr-formatting-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-formatting-bar-enabled.png");
}

#button-direction-ltr-formatting-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/ltr-formatting-bar-disabled.png") !important;
}

#button-direction-rtl-formatting-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-formatting-bar-enabled.png");
}

#button-direction-rtl-formatting-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/light/single/rtl-formatting-bar-disabled.png") !important;
}

@media (prefers-color-scheme: dark) {

/* Messenger Main Toolbar - icon variants via regions within the icon */

toolbar[iconsize="small"] #bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-disabled.png") !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-disabled.png") !important;
}

#bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-24x24-regular.png");
}

#bidimailui-forcing-menubutton:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-24x24-hover.png");
}

#bidimailui-forcing-menubutton:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-24x24-active.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-regular.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-hover.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-active.png");
}

#bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-regular.png");
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-hover.png");
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-active.png");
}

#bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-24x24-disabled.png") !important;
}

#bidimailui-forcing-menubutton[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-regular.png");
}

#bidimailui-forcing-menubutton[platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-hover.png");
}

#bidimailui-forcing-menubutton[platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-active.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-hover.png");
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-active.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-regular.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-hover.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-active.png");
}

[platform="Darwin"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/autodetect-main-bar-16x16-disabled.png") !important;
}

/* Composer/Editor Main Toolbar - small icons */

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-disabled.png") !important;
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-regular.png");
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-hover.png");
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-active.png");
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-disabled.png") !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-disabled.png") !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-regular.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-hover.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-active.png");
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-disabled.png") !important;
}

/* Composer/Editor Main Toolbar Buttons - large icons */

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-regular.png");
}

#button-direction-ltr-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-hover.png");
}

#button-direction-ltr-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-active.png");
}

#button-direction-ltr-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-24x24-disabled.png") !important;
}

#button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-regular.png");
}

#button-direction-rtl-main-bar:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-hover.png");
}

#button-direction-rtl-main-bar:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-active.png");
}

#button-direction-rtl-main-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-24x24-disabled.png") !important;
}

#button-direction-ltr-main-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-regular.png");
}

#button-direction-ltr-main-bar[platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-hover.png");
}

#button-direction-ltr-main-bar[platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-active.png");
}

#button-direction-ltr-main-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-main-bar-16x16-disabled.png") !important;
}

#button-direction-rtl-main-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-regular.png");
}

#button-direction-rtl-main-bar[platform="Darwin"]:hover {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-hover.png");
}

#button-direction-rtl-main-bar[platform="Darwin"]:hover:active {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-active.png");
}

#button-direction-rtl-main-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-main-bar-16x16-disabled.png") !important;
}

/* Composer/Editor Formatting Bar Buttons */

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-formatting-bar-enabled.png");
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-formatting-bar-disabled.png") !important;
}

#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-formatting-bar-enabled.png");
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-formatting-bar-disabled.png") !important;
}

#button-direction-ltr-formatting-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-formatting-bar-enabled.png");
}

#button-direction-ltr-formatting-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/ltr-formatting-bar-disabled.png") !important;
}

#button-direction-rtl-formatting-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-formatting-bar-enabled.png");
}

#button-direction-rtl-formatting-bar[disabled="true"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/dark/single/rtl-formatting-bar-disabled.png") !important;
}

} /* @media (prefers-color-scheme: dark) */

