@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Notes:
   1. The syntax for -moz-image-region is:
         rect(first row coordinate of the image,
              first column coordinate after the image,
              first row coordinate after the image,
              first column coordinate of the image);
	
	2. Currently, the sizes of the toolbar icons in Qute / Classic (Windows, Linux default theme) are:
	      main toolbar                    24px width x 24px height
	      main toolbar small mode         16px width x 16px height

	
	   and the sizes of the toolbar icons in Pinstripe (Darwin platform default theme) are:
	      main toolbar on                 32px width x 32px height
	      main toolbar small mode         24px width x 24px height

          what about the formatting/styling toolbar?
*/				  

/* Messenger Main Toolbar - small icons */

toolbar[iconsize="small"] #bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-16x16.png");
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-16x16.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton:hover:active {
  -moz-image-region: rect(0px 72px 16px 48px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-16x16.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  -moz-image-region: rect(0px 72px 16px 48px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-16x16.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  -moz-image-region: rect(0px 72px 16px 48px);
}

[platform="Darwin"] toolbar[iconsize="small"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-16x16.png");
  -moz-image-region: rect(0px 96px 16px 72px) !important;
}

/* Messenger Main Toolbar Buttons - large icons */

#bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#bidimailui-forcing-menubutton:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#bidimailui-forcing-menubutton:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-24x24.png");
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

#bidimailui-forcing-menubutton[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-24x24.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#bidimailui-forcing-menubutton[platform="Darwin"]:hover {
  -moz-image-region: rect(0px 64px 32px 32px);
}

#bidimailui-forcing-menubutton[platform="Darwin"]:hover:active {
  -moz-image-region: rect(0px 96px 32px 64px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"]:hover {
  -moz-image-region: rect(0px 64px 32px 32px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"][platform="Darwin"]:hover:active {
  -moz-image-region: rect(0px 96px 32px 64px);
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  -moz-image-region: rect(0px 64px 32px 32px);
}

[platform="Darwin"] #bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  -moz-image-region: rect(0px 96px 32px 64px);
}

[platform="Darwin"] #bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-autodetect-main-bar-24x24.png");
  -moz-image-region: rect(0px 128px 24px 96px) !important;
}


/* Composer/Editor Main Toolbar - small icons */

toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-16x16.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 16px 48px);
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 16px 72px) !important;
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-16x16.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 16px 48px);
}

[platform="Darwin"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 16px 72px) !important;
}


/* Composer/Editor Main Toolbar Buttons - large icons */

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

#button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

#button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

#button-direction-ltr-main-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#button-direction-ltr-main-bar[platform="Darwin"]:hover {
  -moz-image-region: rect(0px 64px 32px 32px);
}

#button-direction-ltr-main-bar[platform="Darwin"]:hover:active {
  -moz-image-region: rect(0px 96px 32px 64px);
}

#button-direction-ltr-main-bar[disabled="true"][platform="Darwin"] {
  -moz-image-region: rect(0px 128px 24px 96px) !important;
}

#button-direction-rtl-main-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/winstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

#button-direction-rtl-main-bar[platform="Darwin"]:hover {
  -moz-image-region: rect(0px 64px 32px 32px);
}

#button-direction-rtl-main-bar[platform="Darwin"]:hover:active {
  -moz-image-region: rect(0px 96px 32px 64px);
}

#button-direction-rtl-main-bar[disabled="true"][platform="Darwin"] {
  -moz-image-region: rect(0px 128px 24px 96px) !important;
}

/* Composer/Editor Formatting Bar Buttons */

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailui/content/skin/classic/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

[platform="Darwin"] #FormatToolbar > toolbarbutton[rtlmode="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/format-buttons-rtl.png")  !important;
}

#button-direction-ltr-formatting-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-ltr-formatting-bar[disabled="true"][platform="Darwin"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

#button-direction-rtl-formatting-bar[platform="Darwin"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-rtl-formatting-bar[disabled="true"][platform="Darwin"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

[platform="Darwin"] #FormatToolbar > toolbarbutton[rtlmode="true"] {
  list-style-image: url("chrome://bidimailui/content/skin/classic/format-buttons-rtl.png")  !important;
}
