@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/ltr-main-bar.png");
  -moz-image-region: rect(0px 23px 21px 0px);
}

#button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 46px 21px 23px);
}

#button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 69px 21px 46px);
}

#button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 92px 21px 69px) !important;
}



#button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/rtl-main-bar.png");
  -moz-image-region: rect(0px 23px 21px 0px);
}

#button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 46px 21px 23px);
}

#button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 69px 21px 46px);
}

#button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 92px 21px 69px) !important;
}



#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-ltr-formatting-bar:hover {
  -moz-image-region: rect(0px 38px 18px 19px);
}

#button-direction-ltr-formatting-bar:hover:active {
  -moz-image-region: rect(0px 57px 18px 38px);
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 76px 18px 57px) !important;
}



#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-rtl-formatting-bar:hover {
  -moz-image-region: rect(0px 38px 18px 19px);
}

#button-direction-rtl-formatting-bar:hover:active {
  -moz-image-region: rect(0px 57px 18px 38px);
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 76px 18px 57px) !important;
}


#margintop[classictheme="winstripe"] > hbox,
#marginbottom[classictheme="winstripe"] > hbox {
  visibility: hidden;
}

#margintop[classictheme="pinstripe"] > hbox,
#marginbottom[classictheme="pinstripe"] > hbox {
  -moz-appearance: textfield;
}

#margintop[classictheme="pinstripe"] > hbox > textbox,
#marginbottom[classictheme="pinstripe"] > hbox > textbox {
  -moz-appearance: none;
  margin: 0px !important;
  padding: 0px !important; 
  font: -moz-field;
  border: none !important;
}

#margintop > hbox > textbox,
#marginbottom > hbox > textbox {
  visibility: visible !important;
  width: 5em;
}

#margintop[classictheme="winstripe"][status="non_valid_value"] *,
#marginbottom[classictheme="winstripe"][status="non_valid_value"] *,
#margintop[classictheme="pinstripe"][status="non_valid_value"] > hbox > textbox,
#marginbottom[classictheme="pinstripe"][status="non_valid_value"] > hbox > textbox {
  background-color: #FF6666;
  color: #FFFFFF;
}

#margintop[status="non_valid_value"] > hbox > textbox,
#marginbottom[status="non_valid_value"] > hbox > textbox {
  font-weight: bold;
}
