/*@import url("/hide_from_ns4.css");*/
/* note: some stuff needs to be moved to hide_from_ns4.css , but I don't know exactly what */
/*
Mozilla resource:///res/html.css
*/

a.download-xpi {
  background: rgb(255, 192, 192);
  border: 2px solid rgb(255, 0, 0);
  display: block;
  font-weight: bold;
  margin-left: 35%;
  margin-right: 35%;
  padding: 5px;
  text-align: center;
  width: 30%;
}

div#english-content {
  direction: ltr;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

div#english-navbar {
  direction: ltr;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

div#english-navbar #project-navigation th{
  margin-right: 3px;
}

div#english-navbar #project-navigation th {
  background-position: left;
  padding-left: 18px;
}

div#english-navbar .project-name:after {
  padding-right: 1.1em;
}

div#english-navbar div#language-selection {
  float: right;
  margin-right: 40px;
}

div#hebrew-content {
  direction: rtl;
  font-family: verdana, arial, sans-serif;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

div#hebrew-content ul li , div#english-content ul li {
  font-size: small;
}

div#hebrew-navbar {
  direction: rtl;
  margin: 0;
  padding-right: 5px;
  text-align: justify;
}

div#hebrew-navbar #project-navigation {
  padding-right: 10px;
}

div#hebrew-navbar #project-navigation {
  font-family: verdana, arial, sans-serif;
}

div#hebrew-navbar #project-navigation th{
  margin-left: 3px;
}

div#hebrew-navbar #project-navigation th {
  background-position: right;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 1pt;
}

div#hebrew-navbar .project-name {
}

div#hebrew-navbar .project-name:after {
  padding: 0;
/* not padding due to bug http://bugzilla.mozilla.org/show_bug.cgi?id=258949
   padding-right: 10px;*/
}

div#hebrew-navbar div#language-selection {
  float: left;
  margin-left: 10px;
}

div#language-selection {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  width: 80px;
}

div#language-selection a {
  display: block;
  font-family: verdana,arial,sans-serif;
  font-size: small;
}

div#language-selection span#title {
  color: rgb(153, 0, 0);
  display: block;
  font-family: helvetica,arial,sans-serif;
  font-size: small;
  font-weight: bold;
  margin-bottom: 10px;
}

div.screenshot-container {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

img.screenshot {
  border: 0;
}

.english-news {
  direction: ltr;
  float: right;
}

.english-news .infotab ul {
  direction: ltr;
}

.english-news + div {
  padding-right: 184px !important;
}

.hebrew-news {
  direction: rtl;
  float: right;
}

.hebrew-news .infotab .infoheader {
  background: url("/images/infotab_top_rtl.png") rgb(255, 153, 0) no-repeat;
}

.hebrew-news .infotab ul {
  direction: rtl;
}

.hebrew-news .infotab ul li {
  direction: rtl;
}

.hebrew-news + div {
  padding-right: 184px !important;
}

.infotab {
  direction: rtl;
  margin: 10px;
  width: 154px;
}

.infotab .infoheader {
  background: rgb(255, 153, 0) no-repeat url("http://www.mozdev.org/sharedimages/infotab_top.png") ;
  color: rgb(255, 255, 255);
  font-family: Helvetica, Arial,san-serif, serif;
  font-weight: bold;
  text-align: center;
}

.infotab .infoitems {
  font-size: smaller;
}

.infotab .infoitems div {
  background: url("http://www.mozdev.org/sharedimages/bullet.gif") rgb(255, 255, 255) no-repeat;
  color: inherit;
  padding-bottom: 5px;
  padding-left: 16px;
}

.project-name {
  background: inherit;
  color: rgb(153, 0, 0);
  font-family: helvetica,arial,sans-serif;
  margin: 0;
  padding: 0;
}

.project-name:after {
  content: url(http://www.mozdev.org/sharedimages/boxes.gif);
}

.project-navigations {
  border: none; /* work around weird ns4 bug */
  font-size: smaller;
  margin-bottom: 2em;
}

#content,
.page-header {
  background: inherit;
  color: rgb(0, 0, 0);
  font-family: helvetica,arial,san-serif,serif;
  font-size: 1em;
  padding: 0;
}

#main-content ol li {
  padding-bottom: 5px;
}

#main-content-no-nav li,
#main-content li {
  padding-bottom: 15px; 
/*  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  text-indent: 15px;*/
}

#main-content-no-nav ul,
#main-content ul {
  font-size: smaller;
  list-style-type: square;
/*  list-style-image: url("http://www.mozdev.org/sharedimages/bullet.gif");
  list-style-position: inside;
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;*/
}

#project-navigation {
  width: 80%;
}

#project-navigation a{
  border: none;
  padding: 0;
/*  padding-left: 5px;
  padding-right: 5px;*/
}

#project-navigation a.selected-item, div#language-selection .selected-item{
  background: rgb(255, 220, 128);
}

#project-navigation td {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  vertical-align: top;
}

#project-navigation th {
  background-color: inherit;
  background-image: url("http://www.mozdev.org/sharedimages/nav-icon.png");
  background-repeat: no-repeat;
  color: rgb(153, 0, 0);
  font-family: helvetica,arial,sans-serif, serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  vertical-align: top;
  width: 18%;
}

/*
h2 {
  display: block;
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.8em 0;
}
h3 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.4em 0;
}

h3 {
  display: block;
  font-size: 1.3em;
  margin: 0.2em 0;
}

h5 {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
}

*/