@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Messenger Main Bar Buttons */

#bidimailui-forcing-menubutton {
  list-style-image: url("chrome://bidimailui/skin/main-bar-autodetect.png");
  -moz-image-region: rect(0px 30px 29px 0px);
}

#bidimailui-forcing-menubutton:hover {
  -moz-image-region: rect(0px 60px 29px 30px);
}

#bidimailui-forcing-menubutton:hover:active {
  -moz-image-region: rect(0px 90px 29px 60px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"] {
  list-style-image: url("chrome://bidimailui/skin/main-bar-ltr.png");
  -moz-image-region: rect(0px 30px 29px 0px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover {
  -moz-image-region: rect(0px 60px 29px 30px);
}

#bidimailui-forcing-menubutton[selectedItem="ltr"]:hover:active {
  -moz-image-region: rect(0px 90px 29px 60px);
}

#bidimailui-forcing-menubutton[selectedItem="rtl"] {
  list-style-image: url("chrome://bidimailui/skin/main-bar-rtl.png");
  -moz-image-region: rect(0px 30px 29px 0px);
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover {
  -moz-image-region: rect(0px 60px 29px 30px);
}

#bidimailui-forcing-menubutton[selectedItem="rtl"]:hover:active {
  -moz-image-region: rect(0px 90px 29px 60px);
}

#bidimailui-forcing-menubutton[disabled="true"] {
  list-style-image: url("chrome://bidimailui/skin/main-bar-autodetect.png");
  -moz-image-region: rect(0px 120px 29px 90px) !important;
}


/* Composer/Editor Main Bar Buttons */

#button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailui/skin/main-bar-ltr.png");
  -moz-image-region: rect(0px 30px 29px 0px);
}

#button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 60px 29px 30px);
}

#button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 90px 29px 60px);
}

#button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 120px 29px 90px) !important;
}

#button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailui/skin/main-bar-rtl.png");
  -moz-image-region: rect(0px 30px 29px 0px);
}

#button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 60px 29px 30px);
}

#button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 90px 29px 60px);
}

#button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 120px 29px 90px) !important;
}


/* Composer/Editor Formatting Bar Buttons */

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailui/skin/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-ltr-formatting-bar:hover {
  -moz-image-region: rect(0px 38px 18px 19px);
}

#button-direction-ltr-formatting-bar:hover:active {
  -moz-image-region: rect(0px 57px 18px 38px);
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 76px 18px 57px) !important;
}



#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailui/skin/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-rtl-formatting-bar:hover {
  -moz-image-region: rect(0px 38px 18px 19px);
}

#button-direction-rtl-formatting-bar:hover:active {
  -moz-image-region: rect(0px 57px 18px 38px);
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 76px 18px 57px) !important;
}

#FormatToolbar > toolbarbutton[rtlmode="true"] {
  list-style-image: url("chrome://bidimailui/skin/format-buttons-rtl.gif")  !important;
}
