
[bidimailui-use-detected-directions="true"] [bidimailui-direction-uniformity="rtl"] {
  direction: rtl;
}

[bidimailui-use-detected-directions="true"] [bidimailui-direction-uniformity="ltr"] {
  direction: ltr;
}

[bidimailui-use-detected-directions="true"] [bidimailui-direction-uniformity="mixed"] {
  /* We choose to direct mixed content as RTL - usually the safe choice. */
  direction: rtl;
}

/*
There is no rule for neutral elements, as we do not wish to specify their 
behavior - they should inherit their direction or obey document-specific
style rules.
[bidimailui-use-detected-directions="true"] [bidimailui-direction-uniformity="neutral"] {
}
*/

