@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Notes:
   1. The syntax for -moz-image-region is

         rect(first row coordinate of the image,
              first column coordinate after the image,
              first row coordinate after the image,
              first column coordinate of the image);
	
	2. Currently, the size of Mozilla FF/TB toolbar icons is:
	  
	      main toolbar                    24px width x 24px height
	      main toolbar on mac             32px width x 32px height
	      main toolbar small mode         16px width x 16px height
	      main toolbar small mode on mac  24px width x 24px height

          formatting/styling toolbar    ??px width x ??px height
*/				  


/* Main Toolbar - small icons for mac */

[classictheme="pinstripe"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[classictheme="pinstripe"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

[classictheme="pinstripe"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[classictheme="pinstripe"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}


/* Main Toolbar - large icons for mac */

[classictheme="pinstripe"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-ltr-main-bar-32x32.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

[classictheme="pinstripe"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 32px 32px) !important;
}

[classictheme="pinstripe"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-rtl-main-bar-32x32.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

[classictheme="pinstripe"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 32px 32px) !important;
}

/* Main Toolbar: small icons for winstripe */

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-ltr-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-rtl-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

[classictheme="winstripe"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}


/* Main Toolbar Buttons - large icons for winstripe */

[classictheme="winstripe"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[classictheme="winstripe"] #button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[classictheme="winstripe"] #button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

[classictheme="winstripe"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

[classictheme="winstripe"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[classictheme="winstripe"] #button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[classictheme="winstripe"] #button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

[classictheme="winstripe"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

/* Formatting Bar Buttons */

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 38px 18px 18px) !important;
}

#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

/* Options Panel */


#margintop[classictheme="winstripe"] > hbox,
#marginbottom[classictheme="winstripe"] > hbox {
  visibility: hidden;
}

#margintop[classictheme="pinstripe"] > hbox,
#marginbottom[classictheme="pinstripe"] > hbox {
  -moz-appearance: textfield;
}

#margintop[classictheme="pinstripe"] > hbox > textbox,
#marginbottom[classictheme="pinstripe"] > hbox > textbox {
  -moz-appearance: none;
  margin: 0px !important;
  padding: 0px !important; 
  font: -moz-field;
  border: none !important;
}

#margintop > hbox > textbox,
#marginbottom > hbox > textbox {
  visibility: visible !important;
  width: 5em;
}

[classictheme="winstripe"] [status="non_valid_value"] *,
[classictheme="pinstripe"] [status="non_valid_value"] > hbox > textbox {
  background-color: #FF6666;
  color: #FFFFFF;
}

[status="non_valid_value"] > hbox > textbox {
  font-weight: bold;
}
