@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Notes:
   1. The syntax for -moz-image-region is

         rect(first row coordinate of the image,
              first column coordinate after the image,
              first row coordinate after the image,
              first column coordinate of the image);
	
	2. Currently, the size of Mozilla FF/TB toolbar icons is:
	  
	      main toolbar                    24px width x 24px height
	      main toolbar on mac             32px width x 32px height
	      main toolbar small mode         16px width x 16px height
	      main toolbar small mode on mac  24px width x 24px height

          formatting/styling toolbar    ??px width x ??px height
*/				  


/* Main Toolbar - small icons for mac */

[system="mac"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[system="mac"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

[system="mac"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[system="mac"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}


/* Main Toolbar - large icons for mac */

[system="mac"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-ltr-main-bar-32x32.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

[system="mac"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 32px 32px) !important;
}

[system="mac"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/pinstripe-rtl-main-bar-32x32.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

[system="mac"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 32px 32px) !important;
}

/* Main Toolbar: small icons for winstripe */

[system="not_mac"] toolbar[iconsize="small"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-ltr-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-rtl-main-bar-16x16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

[system="not_mac"] toolbar[iconsize="small"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}


/* Main Toolbar Buttons - large icons for winstripe */

[system="not_mac"] #button-direction-ltr-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-ltr-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[system="not_mac"] #button-direction-ltr-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[system="not_mac"] #button-direction-ltr-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

[system="not_mac"] #button-direction-ltr-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

[system="not_mac"] #button-direction-rtl-main-bar {
  list-style-image: url("chrome://bidimailpack/skin/winstripe-rtl-main-bar-24x24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

[system="not_mac"] #button-direction-rtl-main-bar:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

[system="not_mac"] #button-direction-rtl-main-bar:hover:active {
  -moz-image-region: rect(0px 72px 24px 48px);
}

[system="not_mac"] #button-direction-rtl-main-bar[disabled="true"] {
  -moz-image-region: rect(0px 96px 24px 72px) !important;
}

/* Formatting Bar Buttons */

#button-direction-ltr-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/ltr-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-ltr-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

#button-direction-rtl-formatting-bar {
  list-style-image: url("chrome://bidimailpack/skin/rtl-formatting-bar.png");
  -moz-image-region: rect(0px 19px 18px 0px);
}

#button-direction-rtl-formatting-bar[disabled="true"] {
  -moz-image-region: rect(0px 38px 18px 19px) !important;
}

/* Options Panel */


#paragraph_vertical_margin[system="not_mac"][status="non_valid_value"] *
{
  background-color: #FF6666;
  color: #FFFFFF;
}

#paragraph_vertical_margin[system="mac"][status="non_valid_value"] > textbox {
  color: darkred;
}

#paragraph_vertical_margin[status="non_valid_value"] > textbox {
  font-weight: bold;
}
